# ============================================================================ #
#                          EXAMPLE GLOBAL CONFIG FILE                          #
# ============================================================================ #

# nickname: This is the initial nickname that will be used to connect to the
# server. Keep in my that this may change if the nickname is already in use.
nickname: "DesertBot"

# username: The username that will be used to connect to the server.
username: "DesertBot"

# realname: The realname that will be used to connect to the server.
realname: "DesertBot, a Twisted IRC bot"

# TODO: Add more settings. This will do for basic connecting
