# ============================================================================ #
#                          EXAMPLE SERVER CONFIG FILE                          #
# ============================================================================ #

# server: This is the server to connect to
server: "irc.example.net"

# port: This is the port to use when connecting (defaults to 6667 if not specified)
port: 6667

# channels: These are the channels to join when connecting
channels: ["#help", "#example"]

# commandchar: This is the command prefix that the bot should use
commandchar: "!"
